<div>
    <ion-list no-lines>
        <ion-item>
            <ion-label>{{ 'home.country' | translate }}</ion-label>
            <ion-select (ionChange)="getLocations($event)">
                <ion-select-option value="{{country.key}}" *ngFor="let country of countries">{{country.countryName}}</ion-select-option>
                <ion-select-option value="other" *ngIf="creating">Other</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <ion-list no-lines>
        <ion-item >
            <ion-label>{{ 'home.place' | translate }}</ion-label>
            <ion-select (ionChange)="sendLocation($event)" [disabled]="placesDisabled">
                <ion-select-option value="{{location.key}}" *ngFor="let location of locations" >{{location.locationName}}</ion-select-option>
                <ion-select-option value="other" *ngIf="creating">Other</ion-select-option>        
            </ion-select>
        </ion-item>
    </ion-list>
</div>
