.loginForm {
    background-color: rgb(223, 219, 219);
    .scroll-content {
        padding: 15px;
        overflow: hidden;
        button {
            margin-top: 15px;
            width: 100%;
        }
    }   
}